@charset 'utf-8';
html {
    background: none repeat scroll 0 0 #000000;
    font-family: "ヒラギノ明朝 Pro W3", "細明朝体", "ＭＳ Ｐ明朝", serif;
    font-size: 1em;
    color: #ffffff;
}

body {
    line-height: 1.6;
}

#main {
    width: 480px;
    margin: 40px auto;
}

#main h1 {
    margin: 0;
    text-align: center;
}

#main p {
    text-indent: 1em;
    margin: 15px 0;
}
#logo {
    width: 100px;
    -webkit-animation-name: logo-rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -moz-animation-name: logo-rotate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 15s;
}
@-webkit-keyframes logo-rotate {
    0% {-webkit-transform: rotateY(0) scale(1)}
    100% {-webkit-transform: rotateY(360deg) scale(1)}
}
