@charset 'utf-8';
@media only screen and (max-device-width: 480px) {
    #main {
        width: 100%;
        padding: 0 20px;
    }
}

body {
    color: #fff;
    background-color: #000;
    font-size: 14px;
    line-height: 1.6;
}

#main {
    width: 480px;
    margin: 40px auto;
}

#main h1 {
    margin: 0;
    text-align: center;
}
