@media only screen and (max-device-width: 480px) {
    #main {
        width: 100%;
        padding: 0 20px;
    }
    #logo {
        width: 250px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    html, body {
        height: 100%;
        overflow: hidden;
    }
    body {
        font-size: 100%;
    }
    #main {
        float: right;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        writing-mode: vertical-rl;

        width: 100%;
        margin: 20px 0;
        font-size: 1.1em;
        line-height: 1.6;
    }
    #main h1 {
        margin: 0 80px;
    }
    #main p {
        margin-left: 3em;
    }
}
